<div class="col-10">
    <div class="callout mt-5 callout-info">Pentru a putea trata submisia unui utilizator este nevoie sa o asignezi inainte. Acest pas este necesar pentru a evita situatia cand doi dezvoltatori lucreaza la aceasi submisie. O data asignata, submisia va aparea in tabul <a [routerLink]="['..', 'assigned']">contributii asignate</a> de unde poate fi acceptata sau refuzata, oferind detalii suplimentare.</div>
    <p-divider></p-divider>
    <p-table *ngIf="data" [scrollable]="true" [value]="data" [@removeItemAnimation]="data.length">
        <ng-template pTemplate="header">
            <tr class="border-top-0">
                <th scope="col" class="text-muted fw-light border-0">
                    Contributor
                </th>
                <th scope="col" class="text-muted fw-light border-0">
                    Titlu
                </th>
                <th scope="col" class="text-muted fw-light border-0">
                    Creat La
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contribution let-rowIndex="rowIndex">
            <tr [class.bg-light]="rowIndex % 2 === 0">
                <td class="border-0">
                    <span>{{contribution.contributorUsername}}</span>
                </td>
                <td class="border-0">
                    <a [routerLink]="['.', contribution.id]"
                        class="text-decoration-none link-dark contribution-link">{{contribution.title}}</a></td>
                <td class="border-0">
                    <span>{{contribution.createdTime}}</span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>