<div class="row mt-3">
    <div class="col-auto align-self-center">
        <app-difficulty-filter [control]="selectedDifficulty" (onChange)="onFilteringElementChange()">
        </app-difficulty-filter>
    </div>
    <div class="col-auto align-self-center">
        <app-status-filtering [control]="selectedStatus" (onChange)="onFilteringElementChange()"></app-status-filtering>
    </div>
    <div class="col-auto align-self-center me-auto">
        <app-category-filtering [control]="selectedCategories" [categories]="categories"
            (onChange)="onFilteringElementChange()"></app-category-filtering>
    </div>
    <div class="col-4">
        <app-live-search [placeholder]="dictionary.title" (queryChange)="onSearch($event)"></app-live-search>
    </div>
</div>
<div class="row mt-1">
    <app-chips-filter [chips]="chips" (onRemove)="onRemove($event)"></app-chips-filter>
</div>
<app-loading-page [loading]="loading"></app-loading-page>
<app-problems-table *ngIf="!loading" [problems]="problems"></app-problems-table>