<div class="mt-3 col-md-8">
    <h3 class="mt-3 text-muted">Confirmă</h3>
    <ul>
        <li>
            {{dictionary.contributeProblemQuestionTitleInputLabel}}
            <p>{{formData.title}}</p>
        </li>
        <li>
            {{dictionary.contributeProblemQuestionDescriptionInputLabel}}
            <span class="description" [innerHTML]="formData.description"></span>
        </li>
        <li>
            {{dictionary.contributeProblemSolutionTitle}}
            <p>{{formData.solution}}</p>
        </li>
        <li>
            {{dictionary.contributeProblemTestcaseTitle}}
            <p class="testcase">{{formData.testcase}}</p>
        </li>
        <div class="mb-3">
            <div *ngIf="submissionHappend then backHomeOpt else submitOpt"></div>
            <ng-template #backHomeOpt>
                <button class="btn btn-primary" [routerLink]="['/contribute-problem']">{{dictionary.contributeProblemBackHomeButton}}</button>
            </ng-template>
            <ng-template #submitOpt>
                <button class="btn btn-primary me-2" (click)="onPrevStep.emit()">{{dictionary.contributeProblemPrevStepButton}}</button>
                <button [disabled]="submitting" class="btn btn-primary" (click)="onSubmit.emit()">
                    <span *ngIf="submitting else ready" class="spinner-border spinner-border-sm"></span>
                    <ng-template #ready>
                        {{dictionary.contributeProblemConfirmSubmit}}
                    </ng-template>
                </button>
            </ng-template>
        </div>
    </ul>
</div>