<div class="mt-3 col-md-8">
    <h3 class="mt-3 text-muted">Confirmă</h3>
    <p>Titlu</p>
    <pre>{{formData.title}}</pre>
    <p>Descriere</p>
    <span [innerHTML]="formData.description"></span>
    <p>Solutie</p>
    <p>&nbsp;{{formData.solution}}</p>
    <p>Test</p>
    <p>{{formData.testcase}}</p>
    <div class="mb-3">
        <button class="btn btn-primary me-2" (click)="onPrevStep.emit()">Pasul Anterior</button>
        <button class="btn btn-primary">Adauga problema</button>
    </div>
</div>