<div class="row mt-5">
    <div class="col-6 ">
        <p>
            Ne dorim să oferim utilizatorilor o experiență cât mai placută și utilă. Astfel, încercăm să punem la dispoziție probleme de actualitate. Dacă ai întâlnit o problemă interesantă ce nu face încă parte din baza de date StealCode, te invităm să contribui la îmbunătățirea platformei prin crearea unei cereri de contribuție.
        </p>
        <button type="button" class="btn btn-primary" [routerLink]="[]">Contribuie</button>
    </div>
    
</div>
