<div class="container">
    <div class="row mt-2">
        <h2 class="col-auto align-self-center me-auto">StealCode</h2>
        <div class="col-auto align-self-center">
            <button class="btn btn-dark rounded-pill" (click)="onSignIn()">Sign In</button>
        </div>
    </div>
    <div class="row mt-5 gx-0">
        <div class="col-md-6 order-2 order-md-1 align-self-center">
            <div class>
                <p class="fs-5"><strong>Prepare</strong> for practical interviews or just <strong>solve</strong> programming problems for fun using our app!</p>
            </div>
        </div>
        <div class="col-md-6 order-1 order-md-2">
            <img src="assets/images/landing.jpg" class="img-fluid" alt="landing">
        </div>
    </div>
</div>