<p-dialog [(visible)]="userListFormOpened" [showHeader]="false" [modal]="true">
    <app-user-list-form [value]="userListTitle" [submitting]="submitting" (onCancel)="closeUserListForm()" (onSubmit)="submitUserListForm($event)"></app-user-list-form>
</p-dialog>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [style]="{width: '50vw'}"></p-confirmDialog>
<p-toast></p-toast>
<app-loading-page [loading]="loading"></app-loading-page>
<app-error-page [errorStatus]="errorStatus"></app-error-page>
<div *ngIf="!loading" class="row mt-3">
    <div class="col-4">
        <p-listbox [options]="lists" optionLabel="listTitle" (onClick)="onOptionClick()" [(ngModel)]="selectedList">
            <ng-template pTemplate="header">
                <div class="row gx-0" style="width: 100%">
                    <div class="col-auto me-auto align-self-center">{{dictionary.lists}}</div>
                    <div class="col-auto">
                        <button class="btn btn-sm btn-outline-dark rounded-pill" (click)="onAddListClick()"><i class="pi pi-plus" style="font-size: 0.8rem;"></i></button>
                    </div>
                </div>
            </ng-template>
        </p-listbox>
    </div>
    <div class="col-8">
        <router-outlet></router-outlet>
    </div>
</div>