<app-loading-page [loading]="loading"></app-loading-page>
<div class="row mt-3">
    <div class="col-4">
        <div class="card card-body shadow-sm">
            <app-profile-information></app-profile-information>
        </div>
    </div>
    <div class="col-8" *ngIf="!loading">
        <div class="card card-body mb-2 shadow-sm">
            <app-solved-problems-stats></app-solved-problems-stats>
        </div>
        <div style="overflow: auto" class="card card-body shadow-sm">
            <lib-ng-git-calendar year="2022" colorLevel1="#c6e48b" colorLevel2="#7bc96f" colorLevel3="#196127"
                [data]="data">
            </lib-ng-git-calendar>
        </div>
    </div>
</div>