/* You can add global styles to this file, and also import other style files */
.callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;

    h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    p:last-child {
        margin-bottom: 0;
    }

    code {
        border-radius: 3px;
    }

    &+.bs-callout {
        margin-top: -5px;
    }
}

@each $name,
$color in (default, #777),
(primary, #428bca),
(success, #5cb85c),
(danger, #d9534f),
(warning, #f0ad4e),
(info, #5bc0de),
(bdc, #29527a) {
    .callout-#{$name} {
        border-left-color: $color;

        h4 {
            color: $color;
        }
    }
}

.description p {
    margin-bottom: 0;
}

.description p:last-child {
    margin-bottom: 1rem;
}

.testcase {
    white-space: pre-wrap;
}

a.contribution-link:hover {
    color: #0d6efd;
}

.text-more-muted {
    color: #cecece;
}

.border-between>[class*='col-']:before {
    background: #e3e3e3;
    content: " ";
    position: absolute;
    width: 1px;
    top: 11vh;
    height: 84vh;
}

.border-between>[class*='col-']:first-child:before {
    display: none;
}

@media screen and (max-width: 992px) {
    .border-between>[class*='col-']:before {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.p-datatable table {
    width: 100%;
}

.p-dialog div.p-dialog-header {
    border-bottom: 0px;
}

.p-dialog div.p-dialog-footer {
    border-top: 0px;
}