<p-toast></p-toast>
<p-overlayPanel styleClass="list-add-dropdown" #op>
    <ng-template pTemplate>
        <p-listbox [options]="lists" [(ngModel)]="selectedLists" [showToggleAll]="false" [checkbox]="true"
            [multiple]="true" optionLabel="listTitle" (onClick)="onListClicked($event)">
            <ng-template pTemplate="footer">
                <app-toggleable-user-list-form (onAdded)="addList($event)"></app-toggleable-user-list-form>
            </ng-template>
        </p-listbox>
    </ng-template>
</p-overlayPanel>

<button type="button" class="btn btn-sm btn-outline-primary" (click)="op.toggle($event)">Add to List</button>